{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["content/**/*.md"],
      "options": {
        "semi": true
      }
    }
  ]
}
